<div mat-dialog-title>
  <h1 style="text-align: center;"><b>Remplir les champs</b></h1>
</div>

<form [formGroup]="ClientForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
     <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput type="text" placeholder="Ex. Alex" formControlName="nom">
        </mat-form-field>

        <mat-form-field appearance="outline" class="nom-field">
          <mat-label>Prénom</mat-label>
          <input matInput type="text" placeholder="Ex. Smith" formControlName="prenom">
        </mat-form-field>
      </div>
  
 
      <div class="column">
        <mat-form-field appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input matInput type="tel" placeholder="Ex. 99 854 111" formControlName="telephone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="nom-field">
          <mat-label>Adresse</mat-label>
          <input matInput type="text" placeholder="Ex. Smith" formControlName="adresse">
        </mat-form-field>
      </div>
  
      <div class="column">

        <mat-radio-group aria-label="Select an option" formControlName="genre">
          <mat-label><b>Genre</b></mat-label>
          <mat-radio-button value="homme">Homme </mat-radio-button>
          <mat-radio-button value="femme">Femme</mat-radio-button>
        </mat-radio-group>
    
      </div>
  </div>
    
  <div mat-dialog-actions class="action">
    
    <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>

</form>